name: ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: fmt
        run: cargo fmt --manifest-path ra/Cargo.toml -- --check
      - name: clippy
        run: cargo clippy --manifest-path ra/Cargo.toml -- -D warnings
      - name: test
        run: cargo test --manifest-path ra/Cargo.toml
